matplotlib==3.6.2
numpy==1.24.0
pandas==1.5.2
scikit-learn==1.5.1
scipy==1.10.0
seaborn==0.12.1
typing_extensions==4.13.2
nmslib @ git+https://github.com/nmslib/nmslib.git#subdirectory=python_bindings
